.releaseInfoContainer{
	text-align : center;
}

.until {
    color: #454545;
    font-size: 20px;
	display:inline-block;
}
.title {
    font-size: 25px;	
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align : center;
}

.noRelease {
	text-align : center;
	font-size: 40px;
}

.days {
    font-size: 90px;
	text-align : center;
    color: #B72F28;
	display:inline-block;
	margin-right:5px;
}




