
<h2 class="widget-title">RELEASES</h2>
<div class="content auto-font-resize">	
		
	<div class="releaseInfoContainer" style="display:none;"> 	
		<span class='days'> </span> 
		<span class='until'>Days left until</span>
		<div class='title'></div>
	</div>
															
	<div class="noRelease" style="display:none;"> </div>		
			
</div>
